@model CongratsViewModel

@{
    ViewData["Title"] = "Congrats Page";
}

<h1>Congratulations!</h1>

<div class="congrats-info">
    <p>Я, <em>@Model.Name (@Model.Email)</em>  стал(а) разработчиком ASP.NET.</p>
</div>
